
    video{
    display: none;
    }
    
    #genetic{
        display: flex;
        margin: auto;
        width: 50%;
    }
    /* .canvas{
    box-shadow: 0 7px 37px -5px #00C4F0;
    width: 100%;
    } */
    #canva {
    width: 550px;
    }
    #buttons{
    width: 20%;
        margin-left: 10%;
    }
    .text{
    margin: 0 0 -15px 5px;
    font-size: 15px;
    }
    #main {
    width: 100%;
    }
    
    
    .canvas, .vid {
        width: 100%;
    background-color:white ;
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: center;
    outline: none;
    box-shadow: 0 7px 37px -5px #00C4F0;
    }
    .vid{
    display: none;
    margin: auto auto auto auto;
    /* margin-top: 300px;
    width: 80%; */
    }

  