* {
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    overflow-y:hidden;
    overflow-x:hidden;
    height: 1000px;
}

#header{
    color: #E4E4E4;
    text-align: center;
    font-size:  20px;
    width: 100%;
    font-family: DejaVu Sans Mono, monospace;
    font-weight: bold;
    box-shadow: 0 7px 37px -5px #00C4F0;
}
p{
    color: #E4E4E4;
text-align: left;
font-family: NEXT ART;
margin-left: 50px;
}

#main{
    width: 100%;
}


.algoritm{
width: 5%;
height: 90px;
display:table-cell;
vertical-align:middle;
text-align: center;
}
