#astar{
    display: flex;
    margin: auto;
    width: 60%;
}
#canvas{
    box-shadow: 0 7px 37px -5px #00C4F0;
    height: 550px;
}
#buttons{

    margin-left: 10%;
}

button, input {
    width: 70%;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #1b6170;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    box-shadow: 0 0 40px 40px #1b6170 inset, 0 0 0 0 #1b6170;
    transition: all 150ms ease-in-out;
  }
  button:hover, button:focus {
    color: #fff;
    outline: 0;
  }
  button:hover {
    box-shadow: 0 0 10px 0 #0d6073 inset, 0 0 10px 4px #0d6073;
  }