#astar{
  display: flex;
  margin: auto;
  width: 50%;
}
#canvas{
box-shadow: 0 7px 37px -5px #00C4F0;
width: 100%;
}
#canva {
width: 550px;
}
#buttons{
width: 20%;
  margin-left: 10%;
}
.text{
margin: 0 0 -15px 5px;
font-size: 15px;
}



@media screen and (max-width: 970px), screen and (max-height: 500px) {
  #canvas{
    width: 400px;
}
button{
  font-size: 10px;
}
#astar {
  width: 60%;
}
}
