#neyronka {
    display: flex;
    margin: auto;
    width: 50%;
}

.canvas {
    box-shadow: 0 7px 37px -5px #00C4F0;
    width: 100%;
}

#canva {
    width: 550px;
}

#buttons {
    width: 20%;
    margin-left: 10%;
}

#number {
    text-align: center;
    vertical-align: middle;
}

p {
    display: inline-block;
    margin: 0;
}

#answer {
    font-weight: bold;
}

#main {
    width: 100%;
}

.canvas,
.vid {
    background-color: #1C1C1C;
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: center;
    outline: none;
    box-shadow: 0 7px 37px -5px #00C4F0;
}